.hdr {
  background-image: url();
  background-color: #f4a142;
  height: 150px;
}
h1 {
  font-size: 50px;
  text-align: center;
  padding-top: 30px;
  font-weight: bolder;
}
.sdbr {
  box-shadow: 2px 5px 5px 2px;
  padding-top: 15px;
  margin-top: 10px;
}
.info {
  padding-left: 25px;
}
h2 {
  font-size: 25px;
  color: #bc20ad;
  text-decoration: underline;
}
h3 {
  font-size: 25px;
  color: #bc20ad;
  text-decoration: underline;
}
h4 {
  font-size: 25px;
  color: #bc20ad;
  text-decoration: underline;
}
h5 {
  font-size: 39px;
  font-weight: bolder;
  padding-bottom: 15px;
}
h6 {
  font-size: 29px;
  font-weight: bolder;
  padding-bottom: 15px;
}
